@model WeText.Web.Models.TextViewModel

@{
    ViewBag.Title = Model.Title;
}

<h1>@Model.Title</h1>
<p>
    @Model.Content
</p>

<input type="button" class="btn btn-default" value="Back" onclick="location.href='@Url.Action("Index", "MyText")'" />
