<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="weTextConfiguration" type="WeText.Common.Config.WeTextConfiguration, WeText.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <weTextConfiguration xmlns="urn:WeText.Common.Config">
    <application url="http://+:9023/" />
    <!--
      Configuration for both command queue and event queue are having the "exchangeName" setting, which, in other
      message queue implementation (such as MSMQ or ActiveMQ), may make no sense. For WeText, it is specifically
      using the RabbitMQ, just for demonstration purpose. In real application the settings should be injected to
      the objects that is being registered by an IoC container.
    -->
    <commandQueue connectionUri="amqp://" exchangeName="WeText.CommandMessageExchange" />
    <eventQueue connectionUri="amqp://" exchangeName="WeText.EventMessageExchange" />
    <!--
      Configuration for event store in WeText is specific to use MongoDB, so here it has the connection string, database
      and collection name settings. For other event store implementation, these settings would make no sense. Also, in
      real application the settings should be injected to the objects being registered by an IoC container.
    -->
    <mongoEventStore connectionString="mongodb://localhost:27017" database="WeText" collectionName="Aggregates"/>
    <services>
      <service type="WeText.Services.Accounts.AccountService" instanceId="FEBCD130-0461-4C04-97F4-1BC4A72F4CB8">
        <localCommandQueue connectionUri="amqp://" exchangeName="WeText.CommandMessageExchange" queueName="WeText.AccountServiceCommandQueue" />
        <localEventQueue connectionUri="amqp://" exchangeName="WeText.EventMessageExchange" queueName="WeText.AccountServiceEventQueue" />
        <settings>
          <setting key="TableDataGatewayConnectionString" value="server=127.0.0.1;uid=root;pwd=P@ssw0rd;database=wetext.accounts;" />
        </settings>
      </service>
      <service type="WeText.Services.Texting.TextingService" instanceId="67599FAB-A79D-44B1-A597-C6CF50F020BB">
        <localCommandQueue connectionUri="amqp://" exchangeName="WeText.CommandMessageExchange" queueName="WeText.TextingServiceCommandQueue" />
        <localEventQueue connectionUri="amqp://" exchangeName="WeText.EventMessageExchange" queueName="WeText.TextingServiceEventQueue" />
        <settings>
          <setting key="TableDataGatewayConnectionString" value="server=127.0.0.1;uid=root;pwd=P@ssw0rd;database=wetext.texting;" />
        </settings>
      </service>
      <service type="WeText.Services.Social.SocialService" instanceId="35D5011D-3F3A-4EE9-9DEE-176F3DE130E9">
        <localCommandQueue connectionUri="amqp://" exchangeName="WeText.CommandMessageExchange" queueName="WeText.SocialServiceCommandQueue" />
        <localEventQueue connectionUri="amqp://" exchangeName="WeText.EventMessageExchange" queueName="WeText.SocialServiceEventQueue" />
        <settings>
          <setting key="TableDataGatewayConnectionString" value="server=127.0.0.1;uid=root;pwd=P@ssw0rd;database=wetext.social;" />
        </settings>
      </service>
    </services>
  </weTextConfiguration>
  
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss} %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="logs/wetext.service.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>